{% extends "layout.html" %}
{% block content %}

        <section class="main" >
            <section class="articles">
                <article>
                    <h2>Veterinaria Patitas 24hrs</h2>
                    <br>
                    <p>Somos una veterinaria comprometida a la salud de nuestras mascotas y amigos del alma,
                        buscamos su bienestar por mas de 10 años en nuestras instalaciones, contamos con personal
                        alamente calificado y comprometido en buscar la salud de nuestros amiguitos animales con un 
                        seguimiento de diagnostico y tratamiento precisos. Contamos con instalaciones equipadas tanto para tu mascota 
                        y la comodidad tuya.    
                   </p>
                   <br>
                   <p>
                    <img src="/static/Img/C1.jpg" width="600px">
                   </p>
               </article>

                <article>
                   <h2> Servicios</h2>
                    <ul>
                        <li>Vacunas</li>
                        <li>Rayos X</li>
                        <li>Cirugía</li>
                        <li>Ambulancia veterinaria</li>
                        <li>Pensión</li>
                        <li>Veterinario</li>
                        <li>Hospital veterinario</li>
                        <li>Médico veterinario</li>
                        <li>Estética canina</li>
                        <li>Estancia canina</li>
                    </ul>
                </article>
            </section>  
        </section> 

        <aside>
            <h3> CONTACTANOS:</h3>
            <p> Ubicacion:
                <br>
                Nosotrois nos encontramos en av. universidad 239.
                <br>
                <br>
                Telefonos:
                <br>
                El numero de resepcion es: 4492347652
                <br>
                El numero de confirmacion de citas es: 4492837465
                <br>
                El numero del veterinario principal es: 5674837634
                <br>
                El numero de emergencias es: 9867357612
                <br>
                El numero para quejas, dudas o sugerencias es: 097853646
                <br>
                <br>
                Email:
                <br>
                Veterinaria@gmail.com
                <br>
                Veterinaria2@gmail.com
                <br>
                <br>
            </p>
            <br>
            <br>
            <img src="/static/Img/C2.jpg" width="80%">
            <br>
            <br>
            <h3>No se les olvide, tambien contamos con Servicios a domicilio y ambulancia de urgencias.</h3>
            <br>
            <br>
            <img src="/static/Img/c3.jpeg" width="80%">
            <br>
            <br> 
        </aside>

{% endblock %}

        