{% extends "layout.html" %}
{% block content %}

        <section class="main" >
            <section class="articles">
                <article>
                    <h2>Cuidados de los hurones </h2>
                    <br>
                    <p>Para el cuidado de estos amiguitos del alma es importante tener una jaula adecuada para que se mueva, juegue y descance,
                        este animalito se puede educar para hacer de baño en una caja de arena que se debe de limpiar regularmente, su alimentacion es croquetas secas especiales,
                        tambiuen por ser animales muy activos necesitan hacer ejercicio fuera de la caja para correr, explorar y jugarben areas seguras y superisadas y aparte tu socializar y jugar
                        con el, es necesario llevarlos al veterinario por vacunas y orientaciones de su cuidado, chequeos dentales y chequeso regulares de salud. Tambien tienes que checar que tu casa sea segura para 
                        el, ya que debes tenber cuidado con muebles peligrosos, espacios pequeños y cables, y finalmente para su aseo ellos se acicalan solos pero necesitan un baño ocacionalmente.
                   </p>
               </article>
                <article>
                    <h2>Mas informacion o alguna pregunta llamar a:</h2>
                    <br>
                    <p>Doc.Dianita: 4493764348</p>
                </article>

            </section>  
        </section> 

        <aside>
            <h3> Huron a la venta:</h3>
            <img src="/static/Img/I1.jpg" width="80%">
            <p> Precio:
                <br>
                1500 pesos mx
                <br>
                Edad:
                <br>
                7meses
                <br>
                Nombre:
                <br>
                Malfoy
            </p>
        </aside>
{% endblock %}