{% extends "layout.html" %}
{% block content %}

        <section class="main" >
            <section class="articles">
                <article>
                    <h2>Cuidados de los cuyos </h2>
                    <br>
                    <p>Estas adorables mascotas necesitan cuidados especificos para mantenerse saludables y felices, 
                        lo que tienes que tener en cuenta seria que tengan un espacio ambplio donde vivir, o sea, una jaula
                        donde tenga proporcionada agua y heno, aparte de otros alimentos como lechuga, pimientos, zanahorias, 
                        manzanas y fresas, tener el habitad limpio diariamente si es posible que ellos socializen con otros de 
                        su especie, tambien es importante que al tomar al cuyo sehaga con cuidado y gentileza para evitar que se estresen,
                        es importante tambien las visitas con el veterinario y de ser posible asegurarse que le revisen los dientes a tu mascotas
                        ya que son propensos a tener problemas dentales, y por ultimo tambien es importante que hagan ejercicio, eso se puede realizar 
                        sacandolos de la jaula en lugares seguros para que estire las patas.
                   </p>
               </article>
                <article>
                   <h2>Mas informacion o alguna pregunta llamar a:</h2>
                    <br>
                    <p>Doc.Martin: 44975738383</p>
                    
                </article>
            </section>  
        </section> 

        <aside>
            <h3> Cuyo a la venta:</h3>
            <img src="/static/Img/I2.jpg" width="80%">
            <p> Precio:
                <br>
                500 pesos mx
                <br>
                Edad:
                <br>
                4meses
                <br>
                Nombre:
                <br>
                Capuchino
            </p>
        </aside>
{% endblock %}