{% extends "layout.html" %}
{% block content %}

        <section class="main" >
            <section class="articles">
                <article>
                    <h2>Cuidados de los cachorros  </h2>
                    <br>
                    <p>Los cachorros deben de tener una almentacion equlibrada y nutritiva segun su etapa de crecimiento y su raza y tamaño, tambien es necesario tener el cuidado de vacunacion y desparasitacion para prevenir enfermedades,
                        al tener un cachorro es necesario tener un pequeño entrenamiento de obedencia para tener buenos habitos, en cuestion de socalizacion es importante que conozca nueva gente, animales y entornos para desarrollar su confianza, el ejercicio regular va de cajon, como sacarlo a pasear, que tenga 
                        oportunidad de jugar, correr, etc. segun su edad y capasidad fisica, en el cuidado de salud es necesario que haga visitas recurentes al veterinario y al presentar malestares o enfermedades proveerlo de los cuidados necesarios, tambien en cuestion del aseo es necedsario cepillar su pelaje, mantenerlo limpio y sin enredos con baños
                        segun se requieran, tambien para que este seguro el cachorro es necesario que no haya cosas peligrosas o toxicas, restringir areas peligrosas y asegurarse que enga un lugar seguro para descansar. Apare de todo eso es indispensable tratarlos con amor y darles la atencion que se merecen, jugando con el, acariciarlo,etc.
                        buscando ser un nuevo hogar seguro para el.
                   </p>
               </article>
                <article>
                    <h2>Mas informacion o alguna pregunta llamar a:</h2>
                    <br>
                    <p>Doc.Daniel: 449349083</p>
                </article>

            </section>  
        </section> 

        <aside>
            <h3> Cachorro a la venta:</h3>
            <img src="/static/Img/I3.jpg" width="80%">
            <p> Precio:
                <br>
                1000 pesos mx
                <br>
                Edad:
                <br>
                9meses
                <br>
                Nombre:
                <br>
                Snoopy
                <br>
                Color:
                <br>
                Blanco
                <br>
                Cumpleaños:
                <br>
                5 de abril del 2006
                <br>
                Vacunas:
                <br>
                Todas las correspondientes a su edad
                <br>
                <br>
            </p>
        </aside>
{% endblock %}